repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path Cargo.toml --
        language: system
        files: \.rs$

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --manifest-path Cargo.toml -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

      - id: test
        name: make test
        entry: make test
        language: system
        stages: [pre-push]
        pass_filenames: false
